body {
    text-align: center;
    background-color: #040404;
    margin: 5% 5% 5% 5%;
}

h1 {
    color: #fcfcfc;
    background-color: #3428d8;
}

h2 {
    color: #fcfcfc;
}
#box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px auto;
    cursor: pointer;
}